@import url(reset.css);
body {
  font: 95% 'Helvetica', sans-serif;
  position: relative;
  width: 250%; }

h1 {
  font-size: 2em; }

h2 {
  font-size: 1.5em; }

/* header */
.site-header {
  margin: 3em;
  position: fixed;
  color: #fff;
  text-align: right; }
  .site-header hgroup {
    z-index: 50;
    background-color: black;
    position: absolute;
    width: 200px; }
  .site-header .slide-nav {
    z-index: 25;
    position: absolute;
    background-color: #b00;
    -webkit-transition: all 0.1s ease-out;
    width: 210px;
    top: 15px;
    padding: 10px; }
    .site-header .slide-nav.open {
      left: 200px;
      -webkit-transition: all 0.2s ease-in; }
    .site-header .slide-nav li {
      display: inline;
      list-style-type: none;
      margin-left: 0.5em; }
      .site-header .slide-nav li a {
        color: #fff; }
