@import url(reset.css);
@import url("http://fonts.googleapis.com/css?family=Croissant+One|Julius+Sans+One|Sacramento|Oldenburg");
body {
  font: 95% 'Helvetica', sans-serif;
  position: relative;
  overflow: none;
  height: 100%; }

h1 {
  font-size: 2em; }

h2 {
  font-size: 1.5em; }

p.background {
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1000; }

/* header */
.site-header {
  margin: 3em;
  position: fixed;
  color: #fff;
  text-align: right;
  display: block;
  z-index: 10000; }
  .site-header hgroup {
    z-index: 50;
    background-color: black;
    position: absolute;
    width: 200px; }
  .site-header .slide-nav {
    z-index: 25;
    position: absolute;
    background-color: #b00;
    -webkit-transition: all 0.1s ease-out;
    width: 210px;
    top: 15px;
    padding: 10px; }
    .site-header .slide-nav.open {
      left: 200px;
      -webkit-transition: all 0.2s ease-in; }
    .site-header .slide-nav li {
      display: inline;
      list-style-type: none;
      margin-left: 0.5em; }
      .site-header .slide-nav li a {
        color: #fff; }

.magazine {
  width: 100%; }

article {
  height: 300px; }
  article.text {
    width: 450px;
    background-color: #3ca04d;
    text-align: center; }
    article.text a h1.headline {
      text-decoration: none;
      color: #333;
      font-size: 5em;
      line-height: 0.95;
      font-weight: normal; }

.hovercontent h1 {
  color: white;
  font-size: 1.5em;
  margin-top: 125px; }
.hovercontent p {
  margin-top: 25%; }
.hovercontent h3 {
  color: #a1a1a1;
  font-weight: 100; }

article.preview {
  max-width: 100%;
  display: inline-block;
  float: left;
  position: relative;
  overflow: hidden; }
  article.preview img {
    max-width: 100%; }
  article.preview .link {
    color: #fff;
    display: block;
    height: 100%;
    text-decoration: none; }
    article.preview .link:hover .hovercontent {
      opacity: 1;
      -moz-transform: scale3d(1, 1, 1) translate3d(0, 0, 0);
      -o-transform: scale3d(1, 1, 1) translate3d(0, 0, 0);
      -webkit-transform: scale3d(1, 1, 1) translate3d(0, 0, 0);
      transform: scale3d(1, 1, 1) translate3d(0, 0, 0); }

.hovercontent {
  position: absolute;
  text-align: center;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  opacity: 0;
  line-height: 24px;
  filter: alpha(opacity=0);
  -moz-transform: scale3d(1.3, 1.3, 1) translate3d(0, 10%, 0);
  -o-transform: scale3d(1.3, 1.3, 1) translate3d(0, 10%, 0);
  -webkit-transform: scale3d(1.3, 1.3, 1) translate3d(0, 10%, 0);
  transform: scale3d(1.3, 1.3, 1) translate3d(0, 10%, 0);
  -webkit-transition: opacity 0.2s ease-out, -webkit-transform 0.2s ease-out;
  -moz-transition: opacity 0.2s ease-out, -moz-transform 0.2s ease-out;
  -o-transition: opacity 0.2s ease-out, -o-transform 0.2s ease-out;
  transition: opacity 0.2s ease-out, transform 0.2s ease-out; }
